@layout('app')
@section('subtitle')
    <p class="corpo"> Essa opção parece deliciosa!!
    </p>    
@endsection

@section('content')
    <h1>{{ recipe.name }}</h1>
    <p>{{ recipe.instructions }}</p>
@endsection