@layout('app')
@section('subtitle')
    <p class="corpo"> Essa opção parece deliciosa!!
    </p>    
@endsection

@section('content')
    <div class="d-flex justify-content-center p-5">
        <div class="p-5">
            <h1>{{ recipe.name }}</h1>
        </div>
        <div class="p-5">
            <p>{{ recipe.instructions }}</p>
        </div>
    </div>
@endsection